<h1>Estadísticas</h1>
<div  id = "estadisticas">
<table>
    <tr><td>Número de preguntas: <%=quizes%></td></tr>
    <tr><td>Número de comentarios : <%=comments%></td></tr>
    <tr><td>Número medios de comentarios por preguntas : <%=commentsMedia%></td></tr>
    <tr><td>Número de preguntas con comentarios: : <%=pregC%></td></tr>
    <tr><td>Número de preguntas sin comentarios: : <%=pregS%></td></tr>

</table> 
</div>




